# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# FastAPI
db.sqlite3

# Docker
Dockerfile
.dockerignore
.docker-compose.yml

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Node.js
node_modules/
npm-debug.log

# Next.js
.next/
out/

# TypeScript
*.tsbuildinfo

# IDEs
.idea/
.vscode/
*.swp
*.swo

